<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="demos.shared.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="demos.shared.Preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="demos.droids.PrefDroidz"
            android:label="@string/title_activity_pref_droidz" >
        </activity>
        <activity
            android:name="demos.droids.DroidzActivity"
            android:label="@string/title_activity_droidz" >
        </activity>
        <activity
            android:name="demos.animatedElaine.AnimatedElaineActivity"
            android:screenOrientation="reverseLandscape"
            android:label="@string/title_activity_animated_elaine" >
        </activity>
        <activity
            android:name="demos.fireworks.FireworksActivity"
            android:label="@string/title_activity_fireworks" >
        </activity>
        <activity
            android:name="demos.fireworks.FireworksPrefs"
            android:label="@string/title_activity_fireworks_prefs" >
        </activity>
        
    </application>

</manifest>